p > span {
    color: burlywood;
}


h1 {
    font-family: Poppins;
    font-size: 48px;
    color: rgb(228, 166, 86);
    margin-bottom: 30px;
}

p {
    font-family: Roboto;
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 960px) {
    .container.main {
        max-width: 90vw;
    }
}