* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(235, 235, 235);
}

main {
    padding: 30px 20px;
    background: #222;
    border-radius: 5px;
}

p, span, li, a {
    color:  rgb(235, 235, 235);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.inner-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.container.main {
    margin-top: 100px;
    display: block;
}


.container.main.smaller {
    max-width: 720px;
}
